.contenerGraczy {
  background-color: rgb(91, 92, 92);
  margin-bottom: 50px;
  padding: 20px;
  border-radius: 10px;
  color: white; 
}
.btnSuma{
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.btnResetuj{
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.winner{
  outline: solid 2px rgb(0, 203, 85);
outline-offset: -2px;
}
