

.App{
  background-color: #282c34;
  min-height: 100vh;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; 
  text-align: center;
}

.Inner{
  background-color: #43464d;
  max-width: 750px;  
  height: auto;
  min-height: 600px;
  border-radius: 10px;  
  padding: 20px;
  color: white; 
}






